.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  width: 480px;
}

ul {
  padding: 0; 
  width: 480px;
}

li {
  display: flex; 
  justify-content: space-between; 
  padding: 10px;
  margin-bottom: 10px; 
  align-items: center; 
  padding: 10px 0;

}